#content {
    margin: 0 auto;
    width: 900 px;
    font-family:Georgia, sans-serif;
    font-size: 15px; 
}

#byline {
font-family: Helvetica, sans-serif;
font-size: 14px;
font-style: italic;
}
#masthead{
    color: white;
    text-align: center;
    background-color: blue;
    padding: 10px;
    font-family: Monospace, sans-serif;
    font-size:3em;
    
}
#headline{
    font-family: Helvetica, sans-serif;
    color: blue;
}
blockquote{
    font-size: 25px;
    color: white;
    background-color: black;
}
img{
    margin: 0 auto;
    width: 900 px;
    align-content: center;
}
#caption{
    font-family: Helvetica, sans-serif;
    font-size: 10px;
    font-style: italic;
    padding-bottom: 10px;
}